<div class="panel panel-info text-center">
      <div class="panel-heading">コメント一覧</div>
        <% @comments.each do |comment| %>
          <div class="comments ">
            <p><%= comment.user.name %></p>
            <p><%= comment.body %></p>
              <% if current_user == comment.user %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true">
              <%= link_to 'コメントを削除', comment, method: :delete %>
              </span>
              <% end %>
          </div>
        <% end %>
    </div>