<div class="row">
  <div class="col-md-offset-3 col-md-6 col-sm-12">
    <h2 class="text-center">使い方のページ</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-sm-12">
    <h4 class="help">インテリア記事の投稿・修正</h4>
    <p>MyBookから新しくインテリア記事を投稿することができます。</p>
    <p>各インテリア記事の詳細ページより写真やテイストなどを修正することもできます。</p>
    
    <h4 class="help">コメントの投稿</h4>
    <p>各インテリア記事の詳細ページよりコメントを投稿することができます。</p>
    
    <h4 class="help">｢Scrap｣について</h4>
    <p>気に入ったインテリア記事をScrapすることができます。</p>
    <p>Scrapした記事の一覧は、MyBookから確認することができます。</p>
    
    <h4 class="help">ユーザーの編集について</h4>
    <p>MyBookの編集ボタンから編集することができます。</p>
    <p>ユーザーアイコンの写真なども設定することができます。</p>
    <p>会員登録の削除もこちらのページからお願いします。</p>
  </div>
</div>