<% content_for :cover do %>
<div class="topline"></div>
  <div class="cover">
    <a class="navbar-left" href="/"><img src="/images/logo_b.png" alt="InteriorBook"></a>
    <div class="cover-inner">
      <div class="cover-contents">
        <h3>メンバー登録をすると、写真の投稿・詳細閲覧ができます。</h3>
        <a href="" class="btn btn-danger btn-lg"> InteriorBookをはじめる</a>
      </div>
    </div>
  </div>



<% end %>


<p>テスト</p>