<footer>
  <div class="text-center text-muted"><img src="/images/logo_w.png" alt="InteriorBook" height="40"></div>
  <div class="text-center text-muted"><div class="rogo">Copyright © INTERIORBOOK.</div></div>
</footer>