
<div class="topline"></div>
  <div class="cover">
    <a class="navbar-left" href="/"><img src="/images/logo_b.png" alt="InteriorBook"></a>
    <div class="cover-inner">
      <div class="cover-contents">
        <h3>メンバー登録をすると、写真の投稿・詳細閲覧ができます。</h3>
        <%= link_to 'InteriorBookをはじめる', signup_path, class: 'btn btn-danger btn-lg' %>
      </div>
    </div>
  </div>
</div>

